/* он нужен для написания адаптивности для страницы */

@media (max-width: 414px) { /* задаем ширину при которой хотим изменять элементы */ 

    /* внутри фигурных скобок записываем то что хотим изменить */

    h1 {
        color: red;
        font-size: 46px;
        background-color: black;
    }

    .item {
        width: 70%;
    }

    

}

/* shift + 2 = @ */